
<div class="agileits_header">
  <div class="container">

      {%if not request.user.is_authenticated%}
      <div class="agile-login">
        <ul>
          <li><a href="{% url 'admin-register'%}"> Create Account </a></li>
          <li><a href="{% url 'admin-login'%}">Login</a></li>
          <li><a href="#footer_section" id="contact">Help</a></li>
          
        </ul>
      </div>
      {%else%}
      <div class="agile-login">
        <ul>
          <li><a href=""> {{request.user.first_name}} {{request.user.last_name}}<br>
           
             </a></li>
          
          <li><a href="{%url 'auth_logout'%}">Log out</a></li>
          <li><a href="">Help</a></li>
          
        </ul>
      </div>
      <!-- <a href="{% url 'cart-view'%}">
      <div class="product_list_header" >  
        
            <button class="w3view-cart" type="submit" name="submit" value="" style="color: white;"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
          
          </div></a> -->
          {%endif%}
          <div class="clearfix"> </div>
        </div>
      </div>

      <div class="logo_products">
        <div class="container">
          <div class="w3ls_logo_products_left1">
            <ul class="phone_email">
              <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0752) 258 41599</li>

            </ul>
          </div>
          <div class="w3ls_logo_products_left" >
            <h1><a href="{%url 'admin-login'%}" style="color: #14982d;">Book store</a></h1>
          </div>
          <div class="w3l_search" >
            <form action="#" method="post">
              <input type="search" name="Search" placeholder="Search for a Product..." required="">
              <button type="submit" class="btn btn-default search" aria-label="Left Align" style="background-color: #14982d; color: white">
                <i class="fa fa-search" aria-hidden="true"> </i>
              </button>
              <div class="clearfix"></div>
            </form>
          </div>

          <div class="clearfix"> </div>
        </div>
      </div>
      <!-- //header -->
      <!-- navigation -->
      <div class="navigation-agileits" style="background-color: #14982d">
        <div class="container">
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div> 
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{%url 'admin-login'%}" class="act">Home</a></li> 
            

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seller<b class="caret"></b></a>
                  <ul class="dropdown-menu multi-column columns-3">
                    <div class="row">
                      <div class="multi-gd-img">
                        <ul class="multi-column-dropdown">

                          <li><a href="{%url 'seller-register'%}">Register as Seller</a></li>
                          <li><a href="{%url 'seller-login'%}">Login as Seller</a></li>

                        </ul>
                      </div>

                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer<b class="caret"></b></a>
                  <ul class="dropdown-menu multi-column columns-3">
                    <div class="row">
                      <div class="multi-gd-img">
                        <ul class="multi-column-dropdown">
                          <li><a href="{%url 'home'%}">Customer Home</a></li>
                          <li><a href="{%url 'customer-register'%}">Register as Customer</a></li>
                          <li><a href="{%url 'customer-login'%}">Login as Customer</a></li>
                          
                        </ul>
                      </div>
                      
                    </div>
                  </ul>
                </li>
              
                    <li><a href="#footer_section" id="contact">Contact</a></li>
                    <li><a href="{%url 'add-author'%}" id="">Authors</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown float-right" style="float: right;">
                      {%if request.user.is_authenticated%}
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
                      <ul class="dropdown-menu multi-column columns-3">
                        <div class="row">
                          <div class="multi-gd-img">
                            <ul class="multi-column-dropdown">
                              <h6><a href="{% url 'seller-login' %}"> {{request.user.first_name}} {{request.user.last_name}}
                                {%if request.user.is_staff%}
                                <br>
                                <span style="color:blue;font-size:12px;"><i class="fa fa-circle text-success"></i>&nbsp;Super Admin</span> </a></h6>
                             {%endif%}
                                <li><a href="{% url 'admin-login'%}">Your Profile</a></li>
                              <li><a href="{% url 'recommend-new-admin'%}">Recommend New Admin</a></li>
                              <!-- <li><a href="{% url 'place-order' flag=0%}">Orders</a></li> -->
                              <li><a href="{%url 'auth_logout'%}">Log out</a></li>

                            </ul>
                          </div>
                          
                        </div>
                      </ul>
                      {%else%}
                      <li><a href="{% url 'admin-login' %}">Log in</a></li>
                      {%endif%}
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <script type="text/javascript">
            $('#contact').click(function(){
$(document).scrollTop(200000) // any value you need
});
</script>