{%load crispy_forms_tags%}
<div id="authorTbl">
	{%if query%}
	<!-- <div class="col-md-6 offset-md-2"> -->
	<table class="Display table table-bordered table-striped table-hover" id="table_id">
		<thead>
			<tr>
				<th>sn</th>
				<th>Name</th>
				<th>Ratings</th>
				<th>Start Year</th>
				<th>End Year</th>
				<th>Insertion Date</th>
				<th>Updated Date</th>
				{%if request.user.is_authenticated%}
				<th>Delete</th>
				{%endif%}
			</tr>
		</thead>
		<tbody>
			{% for instance in query%}
			<tr>
				<td scope="row">
					{{instance.id}}
				</td>
				<td>
					{{instance.Name}}
				</td>
				<td>
					{{instance.Ratings}}
				</td>
				<td>
					{{instance.StartYear}}
				</td>
				<td>
					{{instance.EndYear}}
				</td>
				<td>
					{{instance.Created_at|timesince}}
				</td>
				<td>
					{{instance.Updated_at|timesince}}
				</td>
				{%if request.user.is_authenticated%}
				<td>
					<button class="btn btn-danger" onclick="Delete({{instance.id}})">Delete</button>
				</td>
				{%endif%}
				

			</tr>

			{%endfor%}
		</tbody>
	</table>





	<!-- query -->
	{%endif%}
</div>
<script type="text/javascript">
	
	// $(document).ready( function () {
	// 	$('#table_id1').DataTable("autoWidth":false);
	// } );
</script>