{%load crispy_forms_tags%}
<style type="text/css">
	.thumbnail {
		padding:0px;
	}
	.panel {
		position:relative;
	}
	.panel>.panel-heading:after,.panel>.panel-heading:before{
		position:absolute;
		top:11px;left:-16px;
		right:100%;
		width:0;
		height:0;
		display:block;
		content:" ";
		border-color:transparent;
		border-style:solid solid outset;
		pointer-events:none;
	}
	.panel>.panel-heading:after{
		border-width:7px;
		border-right-color:#f7f7f7;
		margin-top:1px;
		margin-left:2px;
	}
	.panel>.panel-heading:before{
		border-right-color:#ddd;
		border-width:8px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Your Review</h3>
		</div><!-- /col-sm-12 -->
	</div><!-- /row -->
	{%if request.user.is_authenticated %}
	<div class="row">
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div><!-- /thumbnail -->
		</div><!-- /col-sm-1 -->
		<div class="col-sm-5">

			<div class="txt-center">
		{%if error%}
		<div class="alert alert-danger">You are not Loged In as Customer.<a href="{%url 'customer-login'%}">LogIn</a></div>
		{%endif%}
				<form class="form" method="POST" action="" id="idForm">{% csrf_token%}
					<!-- <label for="subject">Subject</label> -->
					<div class="rating" required>
						<input id="star5" name="star" type="radio" value="5" class="radio-btn hide" required/>
						<label for="star5">☆</label>
						<input id="star4" name="star" type="radio" value="4" class="radio-btn hide" required/>
						<label for="star4">☆</label>
						<input id="star3" name="star" type="radio" value="3" class="radio-btn hide" required/>
						<label for="star3">☆</label>
						<input id="star2" name="star" type="radio" value="2" class="radio-btn hide" required/>
						<label for="star2">☆</label>
						<input id="star1" name="star" type="radio" value="1" class="radio-btn hide" required/>
						<label for="star1">☆</label>
						<div class="clear"></div>
					</div>
					<div style="color: red; font-size: 10px;">ratings is required </div>
					<input type="number" name="User" value="{{request.user.id}}" hidden="true">
					<input type="number" name="bookEdition" value="{{bookDetail.bookEdition.id}}" hidden="true">
					<textarea class="form-control" name="content" style="max-width: 300px;"></textarea><br>
					<button type="submit" class="btn btn-primary" name="" value="Save" style="float: left;">Comment</button>

				</form>
			</div>

			
		</div><!-- /col-sm-5 -->
	</div>
	{%else%}
	<div class="alert alert-info">Please Log In to put a review.<br><a style="font-size: 12px;" href="{%url 'customer-login'%}">LogIn</a></div>
	{%endif%}
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>User Reviews</h3><br>
		</div><!-- /col-sm-12 -->
	</div><!-- /row -->
	{%for reviewDetail in reviewList%}
	<div class="row" style="font-size: 12px;">
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="../media/{{reviewDetail.customer.ProfileImg}}">
			</div><!-- /thumbnail -->
		</div><!-- /col-sm-1 -->

		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>{{reviewDetail.user.username}}</strong> <span class="text-muted">{{reviewDetail.review.Created_at|timesince}}</span>
				</div>
				<div class="panel-body">
					{{reviewDetail.review.Content}}
					<br><br>Rating&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 10px;">{{reviewDetail.review.Ratings}}/100</span>
					<div class="progress xs" style="max-width :  150px;height : 8px">
						<div class="progress-bar progress-bar-aqua" style="width :  {{reviewDetail.review.Ratings}}%" role="progressbar" aria-valuenow="{{reviewDetail.review.Ratings}}" aria-valuemin="0" aria-valuemax="100">
						</div>
						
					</div>
					{%ifequal request.user.id reviewDetail.user.id%}
					<p href="" style="font-size: 10px;color: blue;" onclick="deleteReview({{reviewDetail.review.id}},{{reviewDetail.review.Book_id}})">delete</p>
					{%endifequal%}
				</div><!-- /panel-body -->
			</div><!-- /panel panel-default -->
		</div><!-- /col-sm-5 -->
	</div>
	{%endfor%}
</div>

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> -->