{%extends "sellerBase.html"%}
{%load crispy_forms_tags%}
{%load staticfiles%}

{% block content%}
<div id="View">
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'home'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Books > {{CategoryName}}</li>
			</ol>
		</div>
	</div>

	<!-- {{bookDetailList}} -->
	<div class="products">
		<div class="container">
			<!-- <div class="col-md-4 products-left">
				<div class="categories">
					<h2>Categories</h2>
					<ul class="cate">
						<li><a href="{%url 'get_books_by_category' id=0 %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>All</a></li>
						{% for Category in categories %}
						<li><a href="{%url 'get_books_by_category' id=Category.id %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{Category.Name}}</a></li>
						{%endfor%}

					</ul>

				</div>																			
			</div> -->
			<div class="col-md-12 products-right">
				<div class="products-right-grid">
					<!-- <div class="products-right-grids">
						<div class="sorting">
							<select id="country" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Default sorting</option>
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by popularity</option> 
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by average rating</option>					
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by price</option>								
							</select>
						</div>
						<div class="sorting-left">
							<select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 9</option>
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 18</option> 
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 32</option>					
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>All</option>								
							</select>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div> -->
				<div id="veiw">
				{%include 'Seller/categoryIndividualView.html'%}
				</div>

			</div>
				
			<nav class="numbering">
				<ul class="pagination paging">
					<li>{% if bookDetailList.has_previous %}
						<a href="?page={{ bookDetailList.previous_page_number }}">
							<span aria-hidden="true">&laquo;</span>
						</a>
						{% endif %}

					</li>
					<li>
					<span class="current">
						Page {{ bookDetailList.number }} of {{ bookDetailList.paginator.num_pages }}
					</span>
					</li>

					<li>
						{% if bookDetailList.has_next %}
						<a href="?page={{ bookDetailList.next_page_number }}">
							<span aria-hidden="true">&raquo;</span>
						</a>
						
						{% endif %}
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<script type="text/javascript">

		var Remove=function($Book_id,$id) {
			if( confirm('Do you want Delete this Book')){
				$.get("/delete-book/"+$Book_id+'/'+$id)
				.done(
					function(data) {
						// console.log(data);
						// alert(data)
						$('#veiw').html(data)
						toastr.warning('Book Deleted')
						
					}
					);
			}
		};

</script>

{%endblock%}