{%extends "sellerBase.html"%}
{%load crispy_forms_tags%}
{%load staticfiles%}

{% block content%}

<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Single View</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<div class="products">
	<div class="container">
		<div class="agileinfo_single">

			<div class="col-md-4 agileinfo_single_left">
				<img id="example" src="../media/{{bookDetail.bookEdition.CoverImage}}" alt=" " class="img-responsive">
			</div>
			<div class="col-md-8 agileinfo_single_right">
				<h2>{{bookDetail.book.Title}}</h2>
				<label>Rating</label>
				<div class="progress xs" style="max-width :  150px;height :  8px">
					<div class="progress-bar progress-bar-aqua" style="width :  {{indiRating.Ratings__avg}}%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
					</div>
				</div>
				<lable  style="color :  black; font-size :  15px;" float-right>{{indiRating.Ratings__avg}}/100 </lable>

				<div class="w3agile_description">
					<h4>Description  : </h4>
					<p>Editions : {{bookDetail.bookEdition.Edition}}
						<br/>Year of Publication : {{bookDetail.bookEdition.YearOfPublication}}
						<br/>Number of pages : {{bookDetail.bookEdition.PageCount}}
						<br/>Seller : {{bookDetail.bookEdition.Seller}}
						<br/>Publisher : {{bookDetail.book.Publisher}}<br>
						Categories:
						{% for category in bookDetail.categories%}
						{{category}},
						{%endfor%}
					</p><br>
					<label style="font-size :  15px;">Available : {{bookDetail.bookEdition.AvailableNoOfCopies}}</label>
				</div>
				<div class="snipcart-item block">
					<div class="snipcart-thumb agileinfo_single_right_snipcart">
						<h4 class="m-sing">₹{{bookDetail.discountedPrice}}<span>₹{{bookDetail.bookEdition.Price}}</span></h4>
					</div>
					
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div id="reviewView">
	{% include 'Seller/commentView.html'%}
</div>
<script type="text/javascript">

		var AddToCart=function($Book_id) {
			// if( confirm('Do you want Delete this Author')){
				$.get("/add-to-cart/"+$Book_id)
				.done(
					function(data) {
						console.log(data);
						// alert(data)
						toastr.info(data)
						
					}
					);
			// }
		};
	$(document).ready(function(){
		$(".rating input:radio").attr("checked", false);

		$('.rating input').click(function () {
			$(".rating span").removeClass('checked');
			$(this).parent().addClass('checked');
		});

		$("#idForm").submit(function(e) {

    	var url = "{%url 'post-review'%}"; // the script where you handle the form input.

    	$.ajax({
    		type: "POST",
    		url: url,
           data: $("#idForm").serialize(), // serializes the form's elements.
           success: function(data)
           {


           	$('#reviewView').html(data)
                // show response from the php script.
            }
        });

    e.preventDefault(); // avoid to execute the actual submit of the form.
});
	});




	var deleteReview=function($id,$Book_id) {
		if( confirm('Do you want Delete this Review?')){
			$.get("/delete-review/"+$id+"/" + $Book_id)
			.done(
				function(data) {
					console.log(data);
					$('#reviewView').html(data);
				}
				);
		}
	};

</script>

{%endblock%}