{%extends "adminBase.html"%}
{%load crispy_forms_tags%}


{% block content%}
<div class="container" style="padding: 100px;">
	<div class="row">
		<div class="col-mod-8 col-md-offset-4">
			<h1>FAQ's</h1>
			<ul>
				<li>
					Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.	
				</li>
				<li>
					Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.	
				</li>
				<li>
					Instead of adding on optional mobile styles, they're baked right into the core. In fact, Bootstrap is mobile first. Mobile first styles can be found throughout the entire library instead of in separate files.


				</li>
				<li>
					Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.	
				</li>
				<li>
					Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.	
				</li>
				<li>
					With Bootstrap 2, we added optional mobile friendly styles for key aspects of the framework. With Bootstrap 3, we've rewritten the project to be mobile friendly from the start.


				</li>
				<li>
					Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.	
				</li>
				<li>
					With Bootstrap 2, we added optional mobile friendly styles for key aspects of the framework. With Bootstrap 3, we've rewritten the project to be mobile friendly from the start. Instead of adding on optional mobile styles, they're baked right into the core. In fact, Bootstrap is mobile first. Mobile first styles can be found throughout the entire library instead of in separate files.


				</li>
			</ul>
		</div>
	</div>
</div>

{%endblock%}